<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSC390Midterm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CSC390Midterm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - CSC390Midterm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7DA49E01BE1507100736D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DA49F41BE1507100736D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DA49FF1BE1507100736D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DA4A081BE1507100736D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
